header.view-header.clearfix
  .pull-left
    h2
      span(ng-if='page.title') {{ page.title }}
      span(ng-if='!page.title') Nova Página
    ol.breadcrumb
      li
        a(ng-href='#/pages') Páginas
      li.active(ng-if='!page.title')
        | Nova Página
      li.active(ng-if='page.title')
        | {{ page.title }}
  .pull-right
    h2  
form.form(action='')
  .row
    .col-xs-8
      .row
        .col-xs-12
          .form-group
            label(for='title') Título
            input#title.form-control(type='text', name='title',
              ng-model='page.title')
      .row
        .col-xs-8
          .form-group
            label Tags
            ui-select(title='Digite uma tag',
              multiple='',
              tagging='',
              tagging-tokens=',',
              tagging-label='',
              ng-model='page.tags',
              theme='bootstrap',
              sortable='true',
              ng-disabled='disabled')
              ui-select-match(placeholder='Selecione as tags')
                | {{ $item }}
              ui-select-choices(repeat='color in availableColors | filter:$select.search')
                | {{ color }}
        .col-xs-4
          .form-group
            label Template
            select.form-control(title='Template',
              ng-model='page.columns',
              ng-options='column.value as column.label for column in columns')
      .row
        .col-xs-12
      .row
        .col-xs-12
          .pages-module.pages-module-cover
            .chosen-cover
              span.label.label-danger.remove-image(ng-click='removeImage()',
                ng-show='page.image')
                span.fa.fa-remove
                |  REMOVER IMAGEM
            .add-module(ngf-accept="'image/*'",
              ngf-select='',
              ng-model='page_image',
              ngf-multiple='false',
              ng-show='!page.image')
              | + Adicionar Capa
            .uploaded-image(ng-show='page.image')
              img(ng-src='{{ page.image.url }}', alt='')
      .row
        #sort-main(as-sortable='sortableOptions', ng-model='page.widgets.main', ng-class="{\
            'col-xs-8': page.columns == 2,\
            'col-xs-12': page.columns == 1\
            }")
          .pages-module(ng-repeat='item in page.widgets.main', as-sortable-item='')
            .clearfix
              .pull-right
                span.label.label-default(ng-click="editModule('main', $index)")
                  span.fa.fa-pencil
                  | EDITAR
                span.label.label-danger(ng-click="removeModule('main', $index)")
                  span.fa.fa-remove
                  | REMOVER
                span.label.label-primary(as-sortable-item-handle='')
                  span.fa.fa-arrows-v
                  | MOVER
            h4.tac
              | {{ item.title }}
              small {{ item.type }}
          .pages-module.add-module(ng-click="addModule('main')")
            | + Adicionar Módulo
        #sort-side(as-sortable='sortableOptions', ng-model='page.widgets.side', ng-class="{\
            'col-xs-4': page.columns == 2,\
            'hidden': page.columns == 1\
            }")
          .pages-module(ng-repeat='item in page.widgets.side', as-sortable-item='')
            .clearfix
              .pull-right
                span.label.label-default(ng-click="editModule('side', $index)")
                  span.fa.fa-pencil
                  | EDITAR
                span.label.label-danger(ng-click="removeModule('side', $index)")
                  span.fa.fa-remove
                  | REMOVER
                span.label.label-primary(as-sortable-item-handle='')
                  span.fa.fa-arrows-v
                  | MOVER
            h4.tac
              | {{ item.title }}
              small {{ item.type }}
          .pages-module.add-module(ng-click="addModule('side', $index)")
            | + Adicionar Módulo
      .row
        .col-xs-12
          hr
          .pull-right
            a.btn.btn-danger.pull-left.spacer-right(ng-click='') Cancelar
            a.btn.btn-success.pull-left(ng-click='publish(page)') Salvar
    .col-xs-4
      publishment-options(route-model='page')
