header.view-header.clearfix
  .pull-left
    h2 Eventos
    ol.breadcrumb
      li.active Eventos
  .pull-right
    a.btn.btn-primary.btn-lg.pull-left(ng-href='#/events/new') NOVO EVENTO
.row.list-header
  .col-xs-7
    ul.list-inline.list-status
      li
        a(ng-click="itemStatus = ''")
          span(ng-class="{ 'strong': itemStatus == '' || itemStatus == undefined }") Tudo
          span.small ({{ events.total }})
      li
        a(ng-click="itemStatus = 'publish'")
          span(ng-class="{ 'strong': itemStatus == 'published'}") Publicados
          span.small ({{ (events.items | filter: {status: 'published'}).length }})
      li
        a(ng-click="itemStatus = 'draft'")
          span(ng-class="{ 'strong': itemStatus == 'draft'}") Rascunho
          span.small ({{ (events.items | filter: {status: 'draft'}).length }})
  .col-xs-5
    .pull-right
      .pull-left
        form.form-inline(action='')
          .form-group
            input.form-control(type='text', ng-model='search', placeholder='Pesquisar')
.row
  .col-xs-12
    table.table.table-bordered(cellspacing='0', width='100%', role='grid')
      thead
        tr(role='row')
          th(style='width: 60%') Título
          th.tac(style='width: 20%') Autor
          th.tac(style='width: 20%') Data da Publicação
      tbody
        tr.odd(role='row',
          ng-repeat='item in events.items | filter: {description: search} | filter: {status: itemStatus}')
          td
            .clearfix
              .listing-actions.pull-left
                a.btn.btn-warning(ng-href='#/events/edit/{{ item.id }}')
                  i.fa.fa-pencil
              .pull-left
                | {{ item.name }}
          td {{ item.author.name }}
          td
            strong {{ item.created_at|date:'dd/MM/yyyy' }}
            br
            small {{ item.status }}
.row(ng-show='events.total > 30')
  .col-xs-12
    uib-pagination.pagination-sm(boundary-links='true',
      total-items='events.total',
      items-per-page='events.page_size',
      ng-model='currentPage',
      previous-text='‹', next-text='›',
      first-text='«',
      last-text='»',
      ng-change='changePage()')
