header.view-header.clearfix
  .pull-left
    h2 Periódicos Jornalísticos
    ol.breadcrumb
      li.active
        | Periódicos Jornalísticos
  .pull-right
    a.btn.btn-primary.btn-lg.pull-left(ng-href='#/periodicals/new')
      | NOVO PERIÓDICO
.row.list-header
  .col-xs-7
    ul.list-inline.list-status
      li
        a(ng-click="itemStatus = ''")
          span(ng-class="{ 'strong': itemStatus == '' || itemStatus == undefined }")
            | Tudo
          span.small ({{ periodicals.total }})
      li
        a(ng-click="itemStatus = 'publish'")
          span(ng-class="{ 'strong': itemStatus == 'published'}")
            | Publicados
          span.small ({{ (periodicals.items | filter: {status: 'published'}).length }})
      li
        a(ng-click="itemStatus = 'draft'")
          span(ng-class="{ 'strong': itemStatus == 'draft'}")
            | Rascunho
          span.small ({{ (periodicals.items | filter: {status: 'draft'}).length }})
  .col-xs-5
    .pull-right
      .pull-left
        form.form-inline(action='')
          .form-group
            input.form-control(type='text', ng-model='search', placeholder='Pesquisar')
.row
  .col-xs-12
    table.table.table-bordered(cellspacing='0', width='100%', role='grid')
      thead
        tr(role='row')
          th(style='width: 52%') Título
          th.tac(style='width: 24%') Autor
          th.tac(style='width: 24%;') Data da Publicação
      tbody
        tr.odd(role='row', ng-repeat='item in periodicals.items | filter: search | filter: {status: itemStatus}')
          td
            .clearfix
              .listing-actions.pull-left
                a.btn.btn-warning(ng-href='#/periodicals/edit/{{item.id}}')
                  i.fa.fa-pencil
              .pull-left
                a(ng-href='#/periodicals/{{item.id}}/editions')
                  | {{ item.name }}
          td {{ item.author.name }}
          td
            strong
              | {{ convertDate(item.published_at) }}
            br
            small {{ item.status }}
          //
            <td class="tac">
            <a
            ng-href="#/periodicals/{{item.id}}/editions"
            class="btn btn-success">
            <i class="fa fa-list"></i>
            </a>
            <a
            ng-href="#/periodicals/{{item.id}}/editions"
            class="btn btn-primary">
            <i class="fa fa-eye"></i>
            </a>
            <a
            ng-click="removePeriodical(item.id, item.name)"
            class="btn btn-danger">
            <i class="fa fa-trash"></i>
            </a>
            </td>
.row(ng-show='periodicals.total > 30')
  .col-xs-12
    pagination.pagination-sm(boundary-links='true', total-items='periodicals.total', items-per-page='periodicals.page_size', ng-model='currentPage', previous-text='‹', next-text='›', first-text='«', last-text='»', ng-change='changePage()')
