.clearfix
  label Links:
  .pull-right
    button.btn.btn-primary.btn-sm(type='button', style='margin-bottom: 3px',
      ng-click='addLink()')
      span.fa.fa-plus
.well.well-sm(ng-repeat='link in widget.links')
  .clearfix
    .pull-left Link {{ $index + 1 }}
    .pull-right
      button.btn.btn-danger.btn-sm(type='button',
        ng-click='removeLink($index)')
        span.fa.fa-trash
  .row
    .col-xs-6
      .form-group
        label Label do link:
        input.form-control(type='text', title='Label do link',
          ng-model='link.label')
    .col-xs-6
      .form-group
        label P&aacute;gina:
        select.form-control(title='Página',
          ng-model='link.page',
          ng-options='page.id as page.title for page in pages.items')
